:root {
  --primary-color: #6f50d6;
  --secondary-color: #59a4b8;
  --primary-background-color: #8ee2d7;
  --secondary-background-color: #d9ede6;
}

.world-room {
  grid-column: 1 / 3;
  grid-row: 1 / 5;
  display: flex;
  flex-direction: column;
}

#CanvasContainer {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--secondary-background-color);
  border-radius: 10px 10px 10px 10px;
}